
#cart{
    margin:5%;
}
.container{
    background-color:rgba(211, 211, 211, 0.473);
    padding:5%;
    border-radius: 10px;
    position: relative;
}
.card{
    padding:0 30px;
    margin:15px;

}
.card-body{
    display:flex;
    background-color: white;
    align-items: center;
    padding:10px 0;
    border-radius: 10px;
    justify-content:space-around;

}
.item-img{
    width:120px;
}
.item-btn{
    padding:8px;
    font-size: 40px;
    border:0;
    background-color: white;
    font-weight: 700;

}
h5{
    font-size: 20px;
    font-weight: 200;
}
.input_number{
    font-weight: bold;
    border-radius: 10px;
    font-size:20px;
    width: 50px;
    padding:10px;
    border:0;
    background-color: rgba(211, 211, 211, 0.479);
}
.item-price{

}
.item-remove{
    width: 25px;;
}

.checkout_btn{
    padding:10px 15px;
    color:white;
    font-size: 20px;
    font-weight: 700;
    background-color: green;
    border:0;
    border-radius: 15px;
}
#reload{
    position:absolute;
    right:5%;
    top:5%;
}