.login-form{
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
}
.login-form input{
    padding:10px 20px;
    border-radius: 20px;
    text-align: center;
}
.login-form button{
    padding:10px 20px;
    margin:0 auto;
    background-color: azure;
}